.navContainer {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 90%;
  max-width: 600px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.logoImage {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
  margin-left: -10px;
  display: block;
  flex-shrink: 0;
  cursor: pointer;
}


.links {
  display: flex;
  gap: 1.5rem;
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 0.9rem;
  transition: color 0.2s;
}

.link:hover {
  color: var(--foreground);
}

.active {
  color: #fff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .navContainer {
    width: 95%;
    top: 1rem;
  }

  .links {
    gap: 1rem;
    font-size: 0.8rem;
  }
}